



.calculator {
    height: 320px;
    width: 235px;
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0.797);
    overflow: hidden;
    box-shadow: 0 0 25px rgba(45, 45, 45, 0.529);

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 1fr 48px 48px 48px 48px 48px;
}

