@font-face {
  font-family: 'robotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf');
}

* {
  font-family: robotoMono;
}

body {
  display: flex;
  height: 100vh; /* deixou no centro eixo y */
  justify-content: center; /* deixou no centro eixo x */
  align-items: center; /* deixou no centro eixo y */
  background-color: rgb(198, 190, 190);
  text-align: center;
}